{% extends "main.html" %}
{% block content %}

<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        {{form.server(size=4, class='server')}}
        {{form.openid(size=40, placeholder=form.server.choices[0][0], class='url') }}<br>
    </p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><button type="submit" class="pure-button pure-button-primary">Sign in</button></p>
    <script>
        $(document).ready(function () {
            $('.server').change(function () {
                var server = $(this).val();
                $('.url').val(server);
            })
        });
    </script>
</form>
{% endblock %}